## Different ways of dealing with missing data

1.Delete the column with missing data
2.Delete the row with missing data
3.Filling the missing values-imputation
   1.Numerical-mean
   2.Categorial-using mode or Nan
4.Advance imputation

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('AB_NYC_2019.csv')

In [3]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48901,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,23-06-2019,1.50,1,39
48902,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,24-06-2019,1.34,3,314
48903,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,05-07-2019,0.91,1,333
48904,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,31-10-2018,0.22,1,0
48905,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,29-06-2019,1.20,1,46

In [4]:
data1=data.copy()

In [5]:
data1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [9]:
data1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [10]:
data1.drop("last_review",axis=1,inplace=True)

In [12]:
data1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
data1.shape

(48906, 15)

## Filling the missing values-imputation
   1.Numerical-mean

In [15]:
data3=data1.copy()

In [16]:
data3

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48901,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,1.50,1,39
48902,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,1.34,3,314
48903,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,0.91,1,333
48904,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,0.22,1,0
48905,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,1.20,1,46

In [17]:
data3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [18]:
mean_value=data3["reviews_per_month"].mean()
data3["reviews_per_month"].fillna(mean_value,inplace=True)

In [19]:
data3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1.373151,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.100000,1,0

In [20]:
data3.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

## Filling the Categorial data

In [21]:
data3.nunique()

id                                48895
name                              47896
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
reviews_per_month                   938
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [24]:
data3["reviews_per_month"].fillna(data3["reviews_per_month"].value_counts().index[0],inplace=True)

In [26]:
data3.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [27]:
data4=data.copy()

In [28]:
data4.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [30]:
data3["reviews_per_month"].fillna("Not_Reviewed",inplace=True)

In [31]:
data3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1.373151,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.100000,1,0

In [32]:
data3.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
24380,19625234,纽约三室一厅两全浴带独立厨房和停车位\nThree-Room Two Bath and Pa...,115979599,Mike,Queens,Flushing,40.76818,-73.82760,Entire home/apt,188,1,85,3.520000,1,151
44024,33996094,Astoria Prime- 5 Min to LaGuardia/20 Min to NYC!,60737457,Paige,Queens,Ditmars Steinway,40.77330,-73.90569,Entire home/apt,225,1,23,9.580000,1,109
8183,6309328,BBoho Room in Williamsburg/Bushwick,30494262,Sanam,Brooklyn,Bushwick,40.70227,-73.92926,Private room,55,2,4,0.080000,1,0
7689,5806416,Soho/Nolita - Best Location - Large 1 BDRM.,12484957,Marina,Manhattan,Nolita,40.72102,-73.99469,Entire home/apt,280,3,122,2.350000,1,113
19748,15814037,Luxury immaculate 2 BR apartment Prime Brooklyn,102357305,Kylie,Brooklyn,Gowanus,40.67876,-73.99040,Entire home/apt,250,5,40,1.320000,1,70
48670,36379279,"Amazing ,quiet, cozy, 1 bedroom on Union Square E",273519401,Geraldo,Manhattan,Gramercy,40.73684,-73.98797,Entire home/apt,299,1,0,1.373151,1,168
26898,21312495,Hillside Hotel,134184451,Hillside Hotel,Queens,Jamaica,40.70426,-73.81509,Private room,165,1,0,1.373151,18,362
7820,5946137,Spacious UWS pre-war guest room!,11237515,Lindiwe,Manhattan,Harlem,40.82335,-73.94887,Private room,100,3,4,0.080000,1,358
23906,19294702,Williamsburg Modern Two-Floor 1 bedroom 1.5 baths,14157243,Leidy,Brooklyn,Williamsburg,40.71617,-73.95283,Entire home/apt,250,2,3,0.140000,1,0
40996,31882099,Comfy Private Room w/ Full Bed - Nearby Subway,238957303,Gui,Brooklyn,Bedford-Stuyvesant,40.68354,-73.93780,Private room,44,2,13,2.580000,3,162

In [33]:
data4.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22526,18221090,Bright and spacious room,125821659,Liliana,Queens,Jackson Heights,40.75147,-73.89071,Private room,75,1,6,19-06-2019,0.32,1,341
21851,17555918,Private bedroom right on the High Line/Chelsea,3650456,Louizos Alexandros,Manhattan,Chelsea,40.74899,-74.00403,Private room,90,7,12,01-11-2017,0.42,1,0
39576,30810475,Gorgeous Room! Close to Time Square,204160428,Cristian,Manhattan,Hell's Kitchen,40.75874,-73.99605,Private room,130,3,27,23-06-2019,4.35,3,114
19601,15693558,Large modern one bedroom apartment,19153021,Aliya,Manhattan,East Harlem,40.78982,-73.94263,Entire home/apt,220,7,0,NaN,NaN,1,0
39506,30769129,Artist Retreat in Williamsburg with studio space!,121434641,Camilla,Brooklyn,Williamsburg,40.70891,-73.94047,Entire home/apt,100,1,23,12-05-2019,3.30,1,173
8964,6882689,Cool centrally located LES apt.,4040200,Bobby,Manhattan,Lower East Side,40.71952,-73.98535,Entire home/apt,198,2,17,05-04-2016,0.35,1,0
24291,19563107,Attractive one bedroom suite in midtown Manhattan,120762452,Stanley,Manhattan,Murray Hill,40.74956,-73.97714,Entire home/apt,175,30,1,30-09-2017,0.05,50,365
307,71366,Beautiful One Bed West Village - 4 Month Special,364955,Ruperto,Manhattan,West Village,40.72966,-74.00243,Entire home/apt,200,30,39,25-06-2019,0.44,1,251
42469,32963138,Incredible 1 Bedroom in the Heart of Greenpoint!,187487947,Diego,Brooklyn,Greenpoint,40.73232,-73.95664,Entire home/apt,70,1,15,01-06-2019,4.09,6,0
1112,471845,Gorgeous Summer Duplex/Yard sublet,2220859,Verena And Dylan,Brooklyn,Bedford-Stuyvesant,40.68229,-73.94287,Entire home/apt,145,14,3,01-09-2013,0.04,1,0

## Advanced Imputation

In [35]:
data5=data.copy()

In [36]:
data5.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64